{% extends "pdv/base.html" %}
{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'tabelas/tabelas.css' %}">
{% endblock %}
{% block content %}
<h2>Excluir Clientes</h2>
<form method="post">
    {% csrf_token %}
    {% for cliente in clientes %}
        <label>
            <input type="checkbox" name="clientes_selecionados" value="{{ cliente.id }}">
            {{ cliente.nome }}
        </label><br>
    {% endfor %}
    <button type="submit">Excluir Selecionados</button>
</form>
{% endblock %}